*,
*::before,
*::after {
    box-sizing: border-box;
    --border: 0px solid black;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background: #f3f3f1;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p, li {
    color: rgb(80, 80, 80);
}

header {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    margin: 0.5em 0;
}

code {
    font-family: 'Anonymous Pro', monospace;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: #cfb43b;
    text-shadow: 0px 0px 20px #aaaaaab6;

}

img {
    max-width: 50%;
    height: auto;
    display: block;
}

.container {
    display: flex;
    flex-direction: row;
}

#navbar {
    border: var(--border);
    border-right: 2px solid #a0a0a0;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-width: 290px;
    height: 100%;
}

.header-div {
    border: var(--border);
    padding: 20px 5px 0px 5px;
    margin: auto;
    width: 15%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav header {
    margin-top: 0;
}

nav ul {
    padding: 0;
    margin-top: 0;
    height: 80%;
    overflow-y: auto;
}

nav li {
    list-style: none;
    padding: 10px 10px;
    font-size: 1em;
    border-top: 1px solid #a0a0a0;
}

.to-top {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.144);
    font-size: .8em;
    width: 25%;
    margin: 2em auto 3em auto;
    display: block;
    background-color: #cfb43b85;
}

.to-top:hover {
    border: 1px solid #cfb43b;
    box-shadow: 0px 0px 20px #aaaaaab6;
    background-color: #f3f3f1;  
}

main {
    border: var(--border);
    position: absolute;
    margin-left: 310px;
    padding: 2vw 3vw;
}

.main-section {
    margin-bottom: 25px;
}

.code-container {
    margin: 20px;
}

code {
    background: #dfdfdd;
    margin: 0 auto;
    width: 70%;
    padding: 5px 20px;
    border-radius: 3px;
    display: block;
}

@media (max-width: 500px) {
    #navbar {
        position: absolute;
        top: 0;
        width: 100%;
        height: 470px;
        z-index: 1;
        border-bottom: 1px solid black;
    }

    nav ul {
        height: 250px;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 450px;
        padding: 15px;
    }

}